*{
    margin:0;
    padding: 0;
    font-family: poppins,sans-serif;
    


    
}

.header{
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;


    background-position: center;
    background-size: cover;
    position: relative;


    background-size: 38%;
    background-repeat: no-repeat;
    background-position: 15% 85%;


    /* REFERENCE */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}

li{
    background-color: #435243;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-left: 20px;
    font-weight: 700;

    
}

.nav-links ul li a{
    color: #D9D9D9;
    text-decoration: none;


}

.nav-links ul li ::after{
    content: '';
  

}

h1{
    font-size: 1.5rem;
}
h2{
    padding-bottom: 10px;
    font-size: 5rem;
    font-weight: 800;
    color: #435243;
}

h3{
    font-size: 1.5em;
    font-weight: 600;
    color: #435243;
}

h4{
    font-size: 2rem;
    font-weight: 400;
}

h5{
font-size: 1rem;
font-weight: 600;
}

p{
    line-height: 22px;
    font-weight: 200;
}
.main__line{
    display: flex;
    background-color: #435243;
    height: 10px;
    min-width: 90vw;
    border: #435243;
}

.sub__line{
    background-color: #435243;
    height: 1px;
    border: #435243;
    margin-top: 10px;
}

/* ------------HERO SECTION-------------- */
.hero__section{
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding-top: 200px;
}

.hero__section h1{
    color: #435243;

}
.message__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.icons__containter{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    padding-top: 20px;
    margin-left: 300px;


}

.icons__container, .fa-brands, .fa-regular{
    font-size: 1.5rem;
    padding-left: 150px;
    padding-top: 10px;
    max-width: 100px;

}


/* -------------ABOUT ME------------- */
#about__me{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    min-height: 100vh;
    max-width: 100vw;
    background-color: #D9D9D9;
    padding-top: 80px;

}




.aboutme__p{
    display: flex;
    justify-content: center;
    text-align: start;
    width: 500px;
    padding-top: 5%;

    
}

/* --------adding image------------- */
/* 
.image__wrapper{
    position: absolute;
}
.sitting__illus{
   
    width: 70%;
    height: 70%;

} */
/* -------------PROJECT SECTION------------- */
#projects{

    min-height: 100vh;
    max-width: 100vw;
    background-color: #D9D9D9;
    padding: 0 80px 100px 80px;
}
#projects h2{
    display: block;
    justify-content: left;
}

#projects p{
    padding-top: 5%;
}
.project-container{
    display: flex;
    flex-direction: column;
    min-height: 65vh;

}
.numbering{
    float: left;
    padding-right: 1rem;
    font-size: 3rem;

}
/* fix this bit */
.project-container, img{
display: flex;
flex-direction: column;
}
/* ------------project containers--------------- */
.project-one{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 450px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.project-one, h3{
    line-height: 25px;

}
.cap__number{

        float: left;
        padding-right: 60px;
        padding-top: 25px;
        line-height: 10%;
        width: .5em;
        font-size: 2em;
       
}

.sub__title{
    font-weight: 600;
    font-size: 1rem;
    /* edit line height */

}

.project-btn-1{
    display: flex;
    justify-content:space-between ;
    max-width: 350px;
}

.project-btn-1 a{
    text-decoration: none;
    color: #435243;
}
/* -------------FOOTER SECTION------------- */
#footer{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #D9D9D9;
    padding: 0px 70px 0 70px;
}
#footer, h4{
    padding-top: 50px;
    color: #435243;
}

#footer p{
    width: 500px;
    padding-top: 20px;
    font-weight: 300;
}
.form__bigcontainer{
    flex-wrap: wrap;
}

.form__container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin: 70px;
    


}

form{
   
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form input, form textarea{
    border: none;
    border-bottom: .5px solid #293629;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    font-family: poppins;
    background-color: #D9D9D9;
  

}

form button{

    padding: 15px;
    background-color: #293629;
    color: #DDDDDD;
    font-size: 16px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 5px;
    font-family: poppins;
    font-weight: 600;
}

.end__color{
    background-color: #293629;
    border: #293629;
    outline: #293629;
    height: 10px;
}